/* Estilos generales */
.agenda-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.agenda-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

button {
  padding: 8px 12px;
  background-color: #6200ea;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3700b3;
}

/* Tabla */
.agenda-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Evita expansión de celdas */
}

.agenda-header-month {
  text-align: center;
  font-size: 1.2rem;
  padding: 10px;
  background-color: var(--color-tan);
  font-weight: bold;
}

.agenda-header-hour {
  width: 80px; /* Mantiene la columna de horas fija */
  text-align: center;
  background-color: var(--color-tan);
}

.agenda-header-day {
  text-align: center;
  font-weight: bold;
  background-color: var(--color-tan);
  white-space: nowrap;

}

.agenda-today {
  background-color: var(--color-flora) !important;
}

/* Filas y celdas */
.agenda-row {
  border-bottom: 1px solid var(--color-tan);
}

.agenda-hour-cell {
  text-align: center;
  font-weight: bold;
  background-color: var(--color-vanilla);
  border-right: 1px solid var(--color-tan);
}

.agenda-slot {
  height: 40px;
  text-align: center;
  border: 1px solid var(--color-tan);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: whitesmoke;
}

.agenda-slot:hover {
  background-color: var(--color-vanilla);
}

/* Citas */
.agenda-cita {
  width: 112%;
  height: 1000%; /* Se adapta a la celda */
  background-color: var(--color-flora);
  font-size: 0.9rem;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  cursor: pointer;
  display: flex;               /* Centrado del contenido */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Evita que se salga el contenido */
  text-align: center;
}

.nombre-paciente {
  font-weight: bold;
  font-size: 0.95rem;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
}

.descripcion-cita {
  font-size: 0.95rem;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: whitesmoke;
}
