.editable-field {
    display: flex;
    flex-direction: column; /* Coloca los hijos en una columna */
    margin-bottom: 15px;
}

.editable-field label {
    font-weight: bold;
    margin-bottom: 5px; /* Separación del label */
}

.editable-content {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaciado entre el texto/input y el icono */
}

.editable-content p {
    margin: 0;
    padding: 5px 0;
    flex-grow: 1; /* Para que el texto ocupe el máximo espacio posible */
}

.editable-content input {
    flex-grow: 1; /* Input se expande para ocupar todo el espacio disponible */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.edit-icon {
    cursor: pointer;
    width: 20px; /* Ajusta el tamaño según sea necesario */
    height: 20px;
}

.edit-icon:hover {
    opacity: 0.7; /* Efecto visual al pasar el cursor */
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.checkbox-option {
    display: flex;
    align-items: center;
    gap: 5px;
}