  .container-home {
    background-color: whitesmoke;
    padding: 2rem;
    border-radius: 1rem;
    max-width: 1200px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    margin-left: 240px;
    margin-right: 20px;
    max-width: 88%;
  }

  .container-notas {
    margin-bottom: 2rem;
    border-bottom: 20px var(--color-primary-dark);
  }

  .citas-filtradas .columnas {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .columna {
    flex: 1;
    min-width: 300px;
    border-right: 20px var(--color-primary-dark);
  }

  .title-citas {
    font-size: 1.5rem;
    color: var(--color-black);
    font-family: var(--font-title);
    margin-bottom: 1rem;
  }

  .tabla-citas {
    font-family: var(--font--main);
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.05);
    border-radius: 0.5rem;
    overflow: hidden;
    margin-bottom: 5px;
  }

  .head-table {
    background-color: var(--color-flora);
    color: white;
  }

  .tr-table {
    border-bottom: 2px solid var(--color-tan);
  }

  .th-table {
    background-color: var(--color-flora);
    padding: 0.75rem 1rem;
  }

  .td-table {
    text-align: left;
    font-size: large;
    font-weight: bold;
  }

  .tbody-table tr:hover {
    background-color: var(--accent-color);
    margin-bottom: 5px;
  }

  .toggle-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .toggle-btn {
    background-color: white;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    padding: 0.25rem 0.75rem;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 500;
  }

  .toggle-btn:hover {
    background-color: var(--color-primary-light);
    color: white;
  }

  .toggle-btn.active {
    background-color: var(--color-success);
    color: white;
  }

  .pacientes {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    border: 20px var(--color-primary-dark);
  }

  .columna-pacientes {
    flex: 1;
    min-width: 250px;
    background-color: white;
    border: 2px solid var(--color-primary-dark);
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  }

  .pacientes-paragraph {
    font-weight: bold;
    color: var(--color-primary-dark);
    margin-bottom: 1rem;
  }

  .lista-pacientes {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .link-pacientes a {
    color: var(--primary-dark);
    text-decoration: none;
    display: block;
    padding: 0.25rem 0;
    transition: color 0.3s;
  }

  .link-pacientes a:hover {
    color: var(--primary-color);
    text-decoration: underline;
  }
