/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f2f4f7;
  color: #333;
  padding: 40px;
}

/* Contenedor Principal */
.balances-container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Título */
.balances-container h2 {
  font-size: 2.2rem;
  font-weight: bold;
  color: #007BFF;
  margin-bottom: 30px;
  text-align: center;
}

/* Contenedor de Tarjetas */
.balance-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas fijas */
  gap: 20px;
}

/* Columna de Balance */
.balance-column {
  background-color: #f9fafb;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

/* Títulos de las columnas */
.balance-column h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 600;
}

/* Tarjetas de Balance */
.balance-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 15px;
  text-align: center;
}

.balance-card h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #007BFF;
  margin-bottom: 10px;
}

.balance-card p {
  font-size: 1.5rem;
  color: #333;
  font-weight: bold;
}

/* Efecto Hover en las Tarjetas */
.balance-card:hover {
  transform: translateY(-10px);
  transition: transform 0.3s ease;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

/* Cargando */
.cargando {
  text-align: center;
  font-size: 1.5rem;
  color: #007BFF;
  padding: 20px;
  border-radius: 8px;
  background-color: #f1f8ff;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
  .balances-container {
      padding: 20px;
  }

  .balance-card-container {
      grid-template-columns: 1fr; /* 1 columna en pantallas pequeñas */
  }

  .balance-column h3 {
      font-size: 1.3rem;
  }

  .balance-card h4 {
      font-size: 1rem;
  }

  .balance-card p {
      font-size: 1.3rem;
  }
}
