/* Contenedor principal */
.container-factura {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 200px; /* Ajusta este valor para que no se solape con el navbar */
    width: calc(100% - 250px); /* Ajusta el ancho para que ocupe el espacio disponible */
}

/* Título */
h1 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos para los filtros */
.filtros {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

/* Estilos para los botones */
.filtros button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.filtros button:hover {
    background-color: #45a049;
}

/* Tabla de facturas */
.tabla-facturas {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.tabla-facturas th, .tabla-facturas td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.tabla-facturas th {
    background-color: #f4f4f4;
    color: #555;
}

/* Estilos para la paginación */
.paginacion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.paginacion button {
    background-color: #008CBA;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.paginacion button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.paginacion button:hover {
    background-color: #007b9e;
}

/* Mensajes de carga y error */
.loading {
    text-align: center;
    color: #007b9e;
}

.error {
    text-align: center;
    color: red;
}

.fecha-selector {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 20px;
}

.fecha-selector select {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    width: 150px;
    transition: border-color 0.3s ease;
}

.fecha-selector select:focus {
    border-color: #4CAF50; /* Color cuando se enfoca */
    outline: none;
}

.fecha-selector option {
    padding: 10px;
    font-size: 14px;
}

.fecha-selector select:hover {
    border-color: #888;
}

.fecha-selector select:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed;
}
